global_defs {
    router_id {{ inventory_hostname }}
    script_user root
    enable_script_security
}

vrrp_script check_traefik {
    script "/usr/bin/curl -s -o /dev/null -w '%{http_code}' http://127.0.0.1:8080/ping | grep -q 200"
    interval 5
    weight -20
    fall 3
    rise 2
}

vrrp_instance TRAEFIK_VIP {
    state {{ 'MASTER' if keepalived_priority == 100 else 'BACKUP' }}
    interface {{ keepalived_interface | default('eth0') }}
    virtual_router_id {{ keepalived_router_id | default(51) }}
    priority {{ keepalived_priority }}
    advert_int 1
    
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_password }}
    }
    
    virtual_ipaddress {
        {{ keepalived_vip }}/24
    }
    
    track_script {
        check_traefik
    }
}
