version: 2
ethernets:
  lan0:
    match:
      name: "e*"
    dhcp4: false
    addresses:
      - ${ip}/24
    gateway4: ${gateway}
    nameservers:
      addresses:
%{ for d in dns ~}
        - ${d}
%{ endfor ~}
