# Managed by Ansible
DOCKER_SOCKET={{ hawser_docker_socket }}
PORT={{ hawser_port }}
BIND_ADDRESS={{ hawser_bind_address }}
LOG_LEVEL={{ hawser_log_level }}
AGENT_NAME={{ hawser_agent_name | default(inventory_hostname) }}
TOKEN={{ hawser_token }}
{% if hawser_mode == "edge" %}
DOCKHAND_SERVER_URL={{ hawser_dockhand_server_url }}
{% if hawser_ca_cert | length > 0 %}
CA_CERT={{ hawser_ca_cert }}
{% endif %}
TLS_SKIP_VERIFY={{ hawser_tls_skip_verify | bool | ternary('true', 'false') }}
{% endif %}
{% if hawser_mode == "standard" and hawser_tls_cert | length > 0 and hawser_tls_key | length > 0 %}
TLS_CERT={{ hawser_tls_cert }}
TLS_KEY={{ hawser_tls_key }}
{% endif %}

