apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    basicAuth: false
    editable: true

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    basicAuth: false
    editable: true
    jsonData:
      maxLines: 1000

  - name: Home Assistant
    type: prometheus
    access: proxy
    url: http://192.168.10.28:8123
    basicAuth: false
    editable: true
    httpHeaderName1: "Authorization"
    secureJsonData:
      httpHeaderValue1: "Bearer {{ monitoring_secrets.home_assistant_grafana_token }}"
