[server]
domain = grafana.tuxito.be
root_url = https://grafana.tuxito.be
serve_from_sub_path = false
enable_gzip = true

[security]
admin_user = admin
admin_password = "{{ monitoring_secrets.grafana_admin_password | replace('\\', '\\\\') | replace('\"', '\\\"') }}"
cookie_secure = false
cookie_samesite = lax

[users]
default_theme = dark

[auth.generic_oauth]
enabled = true
name = authentik
client_id = 58kUz621fNSLPaSPWKHLH7tQ97wYX1kEyzO7IrdC
client_secret = "{{ monitoring_secrets.grafana_oauth_client_secret | replace('\\', '\\\\') | replace('\"', '\\\"') }}"
scopes = openid profile email
auth_url = https://sso.tuxito.be/application/o/authorize/
token_url = https://sso.tuxito.be/application/o/token/
api_url = https://sso.tuxito.be/application/o/userinfo
signout_redirect_url = https://sso.tuxito.be/application/o/grafana/end-session/
auto_login = false
allow_sign_up = true
email_attribute_path = email
login_attribute_path = preferred_username || email
name_attribute_path = name
role_attribute_path = contains(groups, 'Grafana Admins') && 'Admin' || contains(groups, 'Grafana Editors') && 'Editor' || 'Viewer'

[feature_toggles]
enable = publicDashboards

[log]
level = info
